@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');


* {
    
}

body {

    border: 0.5rem solid  #823d08;
    min-height: 100vh;
    padding: 0 1rem;
    background-color: #d6d3b6;
    
}

a {
    text-decoration: none;
    color: #823d08;
}

a:hover, 
a:focus {
    color:green;
}

img {
    max-width: 100%;
    height: auto;
}


header {
    text-align: center;
    font-family: 'Abril Fatface', sans-serif; 
     
}

.title-main {

    font-size: 2em;
    padding-top: 1em;
    padding-bottom: 1em;
    
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin: 1em;
    font-family: 'Abril Fatface', sans-serif;
    
}



.container {
    width: 95%;
    max-width: 50em;
    margin: 0 auto;

}



.profile {
    text-align: center;
    font-family: 'Inconsolata', monospace;
    line-height: 2em;
    color:  #823d08;

}




.work ul {
 
    list-style: none;

}
.work li {

    
    padding-left: -1em;
    text-indent: -.9em;
    padding-bottom: 1em;
    font-family: 'Inconsolata', monospace;
    
   
}

.work li:before {
    content: ">";
    display: block;
    float: left;
    width: 1.5em;
    color: #823d08;
    
}





header a {
    font-weight: 900;
    text-decoration: none;
    font-size: 1em;
    padding: 1em;
    color:  #823d08;
}



footer {
  
    text-align: center;
    padding: 5em 0;
}

footer a {

    font-weight: 900;
    text-decoration: none;
    font-size: 1em;
    padding: 1em;
    color: #823d08;
    font-family: 'Abril Fatface', sans-serif;
}




